.job-card__top-header{

}
.job-card__top-header__company-detail{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.job-card__job-details{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 15px 5px 15px;
    align-items: baseline;
}

@media (min-width: 1280px)

{
   .job-card .MuiGrid-grid-lg-1 {
flex-grow: 0;
max-width: 10%;
flex-basis: 10%;}

}

.job-card .MuiCardContent-root:last-child{
    padding-bottom: 10px;
}

.job-card__top-header__company-detail__title{
    /* width: 160px; */
    overflow-x: hidden;
    
}