.job-card__top-header{

}
.job-card__top-header__company-detail{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}
.job-card__job-details{
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    padding: 5px 15px 5px 15px;
    align-items: baseline;
}
