.new-job-card .container {
    width: 100%;
    color: black;
    background-color: white;
    padding: 1rem;
    border: 1px solid lightgrey;
    border-radius: 5px;
    margin-top: 0rem;
    margin-bottom: 2rem;
    // margin: 0 1rem;
  
    __header {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;
      &__names {
        margin-left: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
      }
      &__role {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      &__cname {
        // font-size: 120%;
        font-weight: bold;
      }
      &__location {
        font-size: 90%;
        color: grey;
        margin-top: -4px;
      }
    }
  
    &__body {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      border: 1px solid lightgrey;
      border-radius: 5px;
      &__salary {
        color: orangered;
      }
      &__options {
        background-color: white;
        outline: 0;
        border: 1px solid lightgrey;
      }
    }
    &__footer {
      & > p {
        margin-bottom: 0;
      }
    }
  }
  
  h3 {
    margin: 0;
  }
  
  .orange{
    color: orangered;
  }

  .container__header{
    display: flex;
    // align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }

  .container__header__names{

    margin-left: 1rem;
        width: 100%;
        display: flex;
        flex-direction: column;

  }

  .container__header__role{

    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  .container__header__cname{
    color: #000;
    font-weight: bold;

  }

  .container__header__location{

    font-size: 90%;
    color: grey;
    margin-top: -4px;

  }

  .container__body{

    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 5px;

  }
  .container__body__options{
    background-color: white;
    outline: 0;
    border: 1px solid lightgrey;
  }

  .container__footer{
      
  }