.profileImg {
	
	object-fit:contain;
	height:125px;
	padding-bottom: 20px;
}
.hey{
	border-right: 3px solid black;
}
.modal div {
	margin: 0 auto;
	background-color: transparent;
}
.closeIcon {
	width: 40x;
	padding: 5px;
	border: 2px solid rgba(0, 0, 255, 0.219);
}
.closeIcon:hover {
	cursor: pointer;
}
.content {
	display: flex;
	align-items: center;
	background-color: transparent;
}
.actionImg {
	margin: 0px 10px;
	background-color: white;
	border-radius: 2px;
}
.actionImg:hover {
	cursor: pointer;
}
.col-md-8 > h4 {
	
font-family: Proxima Nova;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: 44px;
letter-spacing: 0em;
text-align: left;

}
.col-md-8{
	padding:10px;
}
.col-md-8 > p{
	position: absolute;
width: 324px;
height: 33px;
left: 403px;
top: 167px;

font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 33px;
/* identical to box height */


/* Gray 2 */

color: #424242;
}
.marg{
	margin-top:20px;
}
.paramar{
	margin: 0; 
}
.div_exp_skill{
	
background : #f2f2f2
}
.formms{
	width: 453px;
height: 182px;
left: 783px;
top: 333px;

background: #C4C4C4;
}