.sidenav {
  height: 100%;
  margin-top: 0.4rem;
  z-index: 1;
  overflow-x: hidden;
  padding-top: 20px;
  padding: 0.5rem;
}
.st-sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.layout {
  margin-top: 2.1rem;
}
#sticky-sidebar a {
  text-decoration: none;
  font-size: 16px;
  color: black;
  display: flex;
}

#sticky-sidebar a:hover {
  color: #3282c4;
}

.main {
  position: relative;
  top: 1rem;
  margin-left: 1rem;
  font-size: 28px;
  padding: 0px 10px;
}

.sidedesktop {
  max-width: 203px;
  max-height: 93vh;
  overflow: scroll;
  overflow-x: hidden;
}
@media screen and (min-width: 1400px) and (max-width: 2000px) {
  .sidedesktop {
    margin-left: 163px;
  }
}
@media screen and (min-width: 1100px) and (max-width: 1399px) {
  .sidedesktop {
    margin-left: 100px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.main-mobo {
  margin-top: 4rem;
}
@media (min-width: 600px) and (max-width: 992px) {
  .main-mobo {
    margin-left: 50px;
    margin-top: 4rem;
  }
}

@media (min-width: 1400px) and (max-width: 2000px) {
  .sidenav {
    height: 100%;

    position: fixed;
    margin-top: 0.4rem;
    z-index: 1;

    overflow-x: hidden;

    padding-top: 20px;
    padding: 0.5rem;
  }
}

#sticky-sidebar {
  position: fixed;
  max-width: 20%;
}

a {
  color: black;
}

@media (min-width: 992px) {
  .offset-lg-2 {
    margin-left: 10.666667%;
  }
}

.main-right {
  margin-left: 6%;
  width: 1500px;
}
@media (max-width: 1750px) {
  .main-right {
    margin-left: 12%;
  }
}
@media (max-width: 1550px) {
  .main-right {
    margin-left: 18%;
  }
}
@media (max-width: 1300px) {
  .main-right {
    margin-left: 22%;
  }
}
@media (max-width: 1250px) {
  .main-right {
    margin-left: 22%;
  }
}
@media (max-width: 1210px) {
  .main-right {
    margin-left: 23%;
  }
}


@media (max-width: 1199px) {
  .main-right {
    margin-left: 22%;
  }
  .MuiAvatar-root.MuiAvatar-circle.MuiAvatar-colorDefault {
    width: 40px !important;
    height: 45px !important;
  }
}
@media (max-width: 1120px) {
  .main-right {
    margin-left: 23%;
  }
}
@media (max-width: 1200px) and (min-width: 980px) {
  .viewjob_tag {
    font-size: 11px;
    padding: 7px;
  }
}
.scroll::-webkit-scrollbar {
  display: none;
}

.scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* *** interview heading */
@media (max-width: 1200px) {
  #accordion__heading-c {
    width: 135%;
  }  
}



