.open-job,.applied-job{
    margin-left: 0rem;
    max-width: 100vw;
    
    max-height: 95vh;
}
.open-job .MuiGrid-root.MuiGrid-grid-xs-8 .MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
    height: 70vh !important;
    margin-bottom: 1vh;
}



.big-card-res{
    width: 75vw;
}
@media only screen and (max-width: 600px) 
    {
    .open-job,.applied-job{
        margin-left: 0rem;
        max-width: 100vw;
    }

.big-card-res{
    width: 100vw;
}
}