.student-dash .heading {
  font-size: 30px;
  line-height: 49px;
  color: #e55934;
}

@media only screen and (max-width: 900px) {
  .student-dash {
    width: 100%;
    overflow: hidden;
  }
}

.scrollY {
  margin-top: 35px;
}
.MuiGrid-root.MuiGrid-grid-xs-12.MuiGrid-grid-sm-10:nth-of-type(1) {
  margin-top: 0;
}

.connection_link {
  display: block;
  font-size: 23px;
  color: rgb(30, 129, 241);
  margin: 15px 0;
}