.resume-btn{
    background: #ADCDE7;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border-radius: 5px;
}

.resume-btn {
    text-decoration: none;
    color: black;
}
.resume-btn:hover{
    text-decoration: none;
    color: black;
}

.text-content{
    color:#585858;
}


.public-profile-modal .heading{
font-size:18px;
line-height: 24.51px;
font-weight: 700;
font-family: 'Open Sans';
margin-bottom: 0.5rem;
margin-top: 1rem;
}