.job-pane{
    background: #FFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    height:60px;
    padding:35px 0px;
    top:45px;
    left:17%;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .job-pane {
        left:0% !important;    
    }
  }