.navbar-heading{
    position: absolute;
    top: 25%;
    left: 20%;
}

.navbar-main{
    box-shadow: 0 0 9px 1px gray;
    width:100%;
    z-index: 10000;
}
/* @media only screen and (max-width: 768px) {
    .navbar-heading{
        to
    }
  } */