.top-des {
  padding: 0.5rem 0rem 1rem 0rem;

  background-color: #e5e5e5;
  width: 100%;
  z-index: 4;
}

.top-des__profile-card {
  margin-top: 68px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 11rem;
  height: 225px;
  overflow: hidden;
}


.top-des__introduction {
  margin-top: 25px;

  padding: 5rem 0rem 3rem 3rem;

  background-color: #FCC726;
  height: 225px;

  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  float: left;
  border-radius: 10px;
}

.top-des__introduction p {
  width: 500px;
  text-align: left;
  font-size: 22px;
  line-height: 29px;
}

.top-des__introduction h3 {
  width: 100%;
  font-size: 30px;
  line-height: 45px;
  text-align: left;
}
@media only screen and (max-width: 100px) {
  .top-des__introduction {
    margin-top: 110px;
  }
}

@media only screen and (max-width: 768px) {
  .top-des {
    padding: 0;
  }
  .top-des__introduction {
    margin-top: 110px;
    width: 100%;
    margin-top: 4.5rem;
    background-color: #FCC726;
    text-align: left;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 15px;
    border-radius: 10px;
  }
  .top-des__introduction h3 {
    width: 500px;
    font-size: 27px;
    line-height: 28px;
    text-align: left;
  }
  .top-des__introduction p {
    width: 500px;
    text-align: left;
  }
}
@media only screen and (min-width: 901px) {
  .top-des__introduction {
    margin-top: 0;
  }
}
@media only screen and (max-width: 990px) {
  .top-des__introduction {
    margin-top: 72px;
  } 
}
@media only screen and (max-width: 992px) {
  .top-des__introduction {
   width: 850px;
  }
}
@media only screen and (max-width: 905px) {
  .top-des__introduction {
   width: 780px;
  }
}
@media only screen and (max-width: 835px) {
  .top-des__introduction {
   width: 720px;
  }
}
@media only screen and (max-width: 780px) {
  .top-des__introduction {
   width: 630px;
  }
}
@media only screen and (max-width: 700px) {
  .top-des__introduction {
   width: 550px;
  }
}
@media only screen and (max-width: 600px) {
  .top-des__introduction {
    width: 550px;
  }
}
@media only screen and (max-width: 565px) {
  .top-des__introduction {
    width: 520px;
  }
}
@media only screen and (max-width: 520px) {
  .top-des__introduction {
    width: 480px;
  }
}
@media only screen and (max-width: 500px) {
  .top-des__introduction {
    width: 450px;
  }
}
@media only screen and (max-width: 475px) {
  .top-des__introduction {
    width: 430px;
  }
}
@media only screen and (max-width: 450px) {
  .top-des__introduction {
    width: 400px;
  }
}
@media only screen and (max-width: 400px) {
  .top-des__introduction {
    width: 360px;
  }
  .top-des__introduction p {
    width: 280px;
  }
  .top-des__introduction h3 {
    width: 280px;
  }
} 
@media only screen and (max-width: 370px) {
  .top-des__introduction {
    width: 340px;
  }
} 

@media only screen and (max-width: 350px) {
  .top-des__introduction {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 280px;
    width: 300px;
  }
  .top-des__introduction p {
    width: 240px;
  }
  .top-des__introduction h3 {
    width: 240px;
  }
}
@media only screen and (max-width: 325px) {
  .top-des__introduction {
    width: 290px;
  }
} 
@media only screen and (max-width: 300px) {
  .top-des__introduction {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 280px;
    width: 270px;
  }
  .top-des__introduction p {
    width: 240px;
  }
  .top-des__introduction h3 {
    width: 240px;
  }
}

.container__jobs {
  margin-top: 88px;
}
.container__jobs .breakpoint__large-up  {
  margin-top: 85px;
}

.applie .container__jobs {
  margin-top: 0;
}
@media only screen and (max-width: 1000px) {
  .container__jobs {
    margin-top: 115px !important;
  }
  .applie .container__jobs {
    margin-top: 0;
  }
}
.small-card {
  border-bottom: 1px solid rgb(241, 238, 238);
}
.small-card .MuiGrid-grid-xs-12 {
  margin-top: 0;
}
