.interview-container{
    position: fixed;
    top: 55px;
    /* background: #FFFFFF; */
}

.schedule-interview-card {
    width: 1080px;
    height: 80vh;
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    left: 50px;
    top: 20px;
    overflow-y: scroll;
}

.interview-tabs{
    width: 100vw !important;
}

/* .manage-interview-card{
    position: relative;
    top: 20px;

    width: 980px;
    height: 60px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
} */
.manage-interview-card{
    width: 1080px;
    height: auto;
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    left: 45px;
    top: 20px;
}

/* .position-card{
    position: relative;
    top: 20px;


} */
.position-card{
    width: 1080px;
    height: auto;
    background: #FFFFFF;
    border-radius: 4px;
    position: relative;
    left: 45px;
    top: 20px;

}

th{
    font-weight: 400;
    font-size: 18px;
line-height: 22px;
/* identical to box height */


/* Gray 2 */

color: #424242;
}