.track-card{
    height: 80vh;
    overflow-y: scroll;
}

.track-content{
    position: relative;
    top: 60px;
    /* left :175px; */
}

.track-tabs{
    position: relative;
    top: 118px;
    /* left: -300px; */
}

.applicant-box {
    width: 90%;
    height: 80vh;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.active {
    background: rgb(229,229,229);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #495057; */
    background: rgb(229,229,229);

    font-size: 18px;
    font-weight: bold;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs {
    background: #FFFFFF;
    box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
    border-bottom: none;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-item{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    /* font-weight: bold; */
}

.nav-link{
    text-decoration: none;
    color: #000;
    
}
.nav.nav-tabs {
    width: 100vw;
}


.applicant-card{
    width:100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px;
}

.applicant-skill-badge{
    padding: 4px 20px;
    width: fit-content;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

.applicant-skill-badge > span{
    
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
margin: 0px auto;

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .applicant-box {
        width: 100%;
        
    }
    .nav-tabs {
        /* position: relative; */
        /* left: 40% ; */
        width: 102vw;
        text-align: center;
        padding-left:25%;
    }
  }

.company-track .card.applicant-box {
    left: 50px;
}
.applicant-tab {
    margin-left: 70px;
}
@media (max-width: 1700px) {
    .company-track .card.applicant-box {
        left: 16px;
    }
    .applicant-tab {
        margin-left: 40px;
    }
}
@media (max-width: 1600px) {
    .company-track .card.applicant-box {
        width: 98%;
    }
    .applicant-tab {
        margin-left: 0;
    }
}
@media (max-width: 1450px) {
    .company-track .card.applicant-box {
        left: 5px;
    }
}
@media (max-width: 1400px) {
    .company-track .card.applicant-box {
        left: -5px;
    }
}
@media (max-width: 1250px) {
    .company-track .card.applicant-box {
        left: -25px;
    }
    .company-track .nav.nav-tabs {
        margin-left: -15px;
    }
}
@media (max-width: 1020px) {
    .company-track .card.applicant-box {
        left: -35px;
    }
    .company-track .nav.nav-tabs {
        margin-left: -20px;
    }
}
@media (max-width: 992px) {
    .company-track .card.applicant-box {
        left: -10px;
    }
    .company-track .nav.nav-tabs {
        margin-left: 0;
    }
}