.auth-navbar{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0rem 0.75rem;

}

.btn-signup {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.35rem 2rem;
    /* border-radius: 2rem; */
  }