.des-left-10-mobo-left-zero{
    margin-left: 10px;
}

.company-detail-line__company-detail-line{
    width: 300px;
}
@media only screen and (max-width: 600px){
    .des-left-10-mobo-left-zero{

        margin-left:0;

}
.company-detail-line__company-detail-line{
    width: 100%;
}
.mobo-top-10{

    margin-top:10px;

}
}
