.filter{
    background: #ffffff;
    padding: 1rem;
}


.filter__tag{
    border: 1px solid #424242;
     background: #424242;
     color: #ffffff;
     font-size: 12px;
     padding: 0.3rem;
     font-weight: 300;
     margin-right: 5px;
     
}
.filter__tag svg{
    font-size: 17px;
    font-weight: 700;
    margin-left: 5px;
    padding-top: 6px;
    margin-top: 0px;
    cursor: pointer;
}
.filter__salary{
    border: 1px solid #424242;
    padding: 2rem;
}
.Modal-filter{
    overflow: scroll;
    max-height: 100vh;
}