.blog__card{
    
    width: 185px;
    height: 225px;
text-align: left;
padding: 15%;
/* yellow */

background: #FCC726;
border-radius: 16px;
}

.blog a:hover{
    text-decoration: none;
}




@media only screen and (max-width: 600px) {
    .blog__card{
    
        width: 180px;
        height: 200px;
        text-align: left;
        padding: 5rem 0 0 1rem;
        /* yellow */
        
        background: #FCC726;
        border-radius: 16px;
        }
  }

  @media only screen and (min-width:992px) and (max-width: 1200px) {
    .blog__card{
        width: 160px;
        height: 190px;
    }
}

@media only screen and (min-width:600px) and (max-width: 804px) {
    .MuiGrid-container .MuiGrid-grid-sm-3{
        margin-right: 40px;
    }
}
@media only screen and (min-width:600px) and (max-width: 671px) {
    .blog__card{
        width: 160px;
        height: 180px;
    }
}

@media only screen and (max-width: 375px) {
    .blog__card{
        width: 160px;
        height: 190px;
    }
}
@media only screen and (max-width: 320px) {
    .blog__card{
        width: 140px;
        height: 200px;
    }
} 
@media only screen and (min-width:320px) and (max-width: 600px) {
    .blog__card{
        width: 145px;
        height: 200px;
    }

   
}

@media only screen and (min-width:100px) and (max-width: 320px) {
    .blog__card{
        width: 100%;
        height: 200px;
    }
    .MuiGrid-grid-xs-6 {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}