@media (min-width: 600px)
{
.navbar .MuiToolbar-regular {
    min-height: 40px;
    padding: 0px;
}



}


.navbar{
    padding:0;
}


.sidebar-mobo {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #F2F2F2;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align:left;
  }
  
  /* .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
  } */
  
  .sidebar-mobo a:hover {
    color: #007bff;
  }
  
  .sidebar-mobo .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #E5E5E5;
    color: black;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }

  .navbar .MuiToolbar-regular{
    padding: 0rem 16.5rem 0rem 3rem;
  }
  .makeStyles-img-4 {
    width: 200px !important;
}

@media screen and (max-width: 1000px){
  .makeStyles-img-4 {
    width: 200px !important;
}
}
  

  @media (min-width: 1700px) and (max-width: 2000px){
    .navbar .MuiToolbar-regular{
       
       padding: 0rem 25rem 0rem 11rem;
    }
  }
  @media (min-width: 1650px) and (max-width: 1699px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 18rem 0rem 11rem;
    }
  }
  @media (min-width: 1600px) and (max-width: 1649px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 16.5rem 0rem 11rem;
    }
  }
  @media (min-width: 1550px) and (max-width: 1599px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 15rem 0rem 11rem;
    }
  }
  @media (min-width: 1500px) and (max-width: 1549px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 14rem 0rem 11rem;
    }
  }
  @media (min-width: 1450px) and (max-width: 1500px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 12.5rem 0rem 11rem;
    }
  }
  @media (min-width: 1400px) and (max-width: 1449px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 10.5rem 0rem 11rem;
    }
  }
  @media (min-width: 1350px) and (max-width: 1399px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 9.5rem 0rem 7rem;
    }
  }
  @media (min-width: 1300px) and (max-width: 1349px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 7.5rem 0rem 7rem;
    }
  }
  @media (min-width: 1250px) and (max-width: 1299px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 6rem 0rem 7rem;
    }
  }
  @media (min-width: 1200px) and (max-width: 1249px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 2.5rem 0rem 7rem;
    }
  }
  @media (min-width: 1150px) and (max-width: 1199px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 3.5rem 0rem 7rem;
    }
  }
  @media (min-width: 1100px) and (max-width: 1149px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 5.3rem 0rem 7rem;
    }
  }
  @media (min-width: 993px) and (max-width: 1099px){
    .navbar .MuiToolbar-regular{
     
       padding: 0rem 2rem 0rem 0rem;
    }
  }

