.viewjob_tag{
    padding: 10px;
    border: 2px solid #1D3354;
   color: #1D3354;
    border-radius: 20px;
    font-size: 12px;
    height: 30px;
 
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    margin-left: 15px;
}

.viewjob_heading{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 33px;

}
.viewjob_data{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 25px;
/* identical to box height */


/* Gray 2 */

color: #424242;
}