.sidebar-college {
    height: 100%;
    width: 215px;
    position: fixed;
    
    background: #ffffff;
    z-index: 10000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   
 margin-top: -2%;
    
    overflow-x: hidden;
    padding-top: 20px;
    padding: 0.5rem;
  }
 
  .sidebar-college a {
    
    text-decoration: none;
    font-size: 16px;
    color: black;
    display: flex;
  }
  
  .sidebar-college a:hover {
    color: #3282C4;
  }
  