.track-card{
    height: 80vh;
    overflow-y: scroll;
}

.track-content{
    position: relative;
    top: 60px;
    /* left :175px; */
}

.track-tabs{
    position: relative;
    top: 10px;
    left: -70px;
}
.applicant-box {
    width: 100%;
    height: 80vh;
    overflow-y: scroll;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    margin-left: 30px;
    
}

@media (max-width: 1700px) {
    .track-tabs{
        left: -40px;
    }
    .applicant-box {
        /* margin-left: 30px; */
    }
}
@media (max-width: 1600px) {
    .track-tabs{
        left: -60px;
    }
    .applicant-box {
        /* margin-left: 30px; */
    }
}
@media (max-width: 1450px) {
    .track-tabs{
        left: -25px;
    }
    .applicant-box {
        /* margin-left: 30px; */
    }
}
@media (max-width: 1400px) {
    .track-tabs{
        left: -81px;
    }
    .applicant-box {
        width: 97%;
        /* margin-left: 35px; */
    }
}
@media (max-width: 1260px) {
    .track-tabs{
        left: 10px;
    }
    .applicant-box {
        width: 94%;
        /* margin-left: 35px; */
    }
}
@media (max-width: 1150px) {
    .track-tabs{
        left: 15px;
    }
    .applicant-box {
        width: 90%;
        margin-left: 50px;
    }
}
@media (max-width: 1020px) {
    .track-tabs{
        left: 10px;
    }
    .applicant-box {
        width: 88%;
        margin-left: 55px;
    }
}
@media (max-width: 992px) {
    .track-tabs{
        margin-top: 50px;
        left: 0;
    }
}

.active {
    background: rgb(229,229,229);
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    /* color: #495057; */
    background: rgb(229,229,229);

    font-size: 18px;
    font-weight: bold;
    /* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs {
    background: #FFFFFF;
    box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
    border-bottom: none;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-bottom: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.nav-item{
    font-size: 18px;
    color: #000;
    text-decoration: none;
    /* font-weight: bold; */
}

.nav-link{
    text-decoration: none;
    color: #000;
    
}
.nav.nav-tabs {
    width: 100vw;
}
/* .nav.nav-tabs {
    box-shadow: 0 0 9px 1px gray;
}
.nav.nav-tabs {
    box-shadow: 0 0 9px 1px gray;
}
.nav.nav-tabs .nav-link.active {
    box-shadow: 0 8px 10px 0 gray inset;
} */


.applicant-card{
    
    width:100%;
    height: auto;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
    border-radius: 4px;
}

.applicant-skill-badge{
    padding: 4px 20px;
    width: fit-content;
    height: 31px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 18px;
}

.applicant-skill-badge > span{
    
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #000000;
margin: 0px auto;

}
@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .applicant-box {
        width: 100%;
        
    }
    .mx-xs-0{
        margin-left: 0rem !important; 
        margin-right: 0rem !important;
    }
    .nav-tabs {
        /* position: relative; */
        /* left: 40% ; */
        width: 102vw;
        text-align: center;
        padding-left:25%;
    }
  }