.connection__card{
    
    position: relative;
    width: 185px;
    height: 225px;
    text-align: left;
    padding: 9%;
    overflow: hidden;
    /* yellow */
    
    background: #424242;
    border-radius: 16px;
    }

.connection {
    margin-top: -30px;
}

    @media only screen and (max-width: 600px) {
        .connection__card{
    
            width: 180px;
            height: 225px;
            text-align: left;
            padding: 8%;
            /* yellow */
            
            background: #424242;
            border-radius: 16px;
            }
      }


@media only screen and (min-width:992px) and (max-width: 1200px) {
    .connection__card{
        width: 170px;
        height: 190px;
    }
}

@media only screen and (min-width:600px) and (max-width: 671px) {
    .connection__card{
        width: 170px;
        height: 190px;
    }
}

/* @media only screen and (max-width: 375px) {
    .connection__card{
        width: 160px;
        height: 190px;
    }
} */

@media only screen and (min-width:320px) and (max-width: 600px) {
    .connection__card{
        width: 145px;
        height: 200px;
    }
}
@media only screen and (min-width:100px) and (max-width: 320px) {
    .connection__card{
        width: 100%;
        height: 200px;
    }
    .MuiGrid-grid-xs-6 {
        max-width: 100% !important;
        flex-basis: 100% !important;
    }
}
.connection_link {
    display: block;
    font-size: 23px;
    color: rgb(30, 129, 241);
    margin: 15px 0;
}
.accordion__item {
    width: 100% !important;
}
@media (max-width: 600px) and (min-width: 599px) {
    .connection, .blog {
        margin-left: 0;
    }
}
@media (max-width: 598px) {
    .connection, .blog {
        margin-left: 68px;
    }
}
@media (max-width: 520px) {
    .connection, .blog {
        margin-left: 47px;
    }
}
@media (max-width: 450px) {
    .connection, .blog {
        margin-left: 29px;
    }
}
@media (max-width: 400px) {
    .connection, .blog {
        margin-left: 12px;
    }
}
@media (max-width: 330px) {
    .connection, .blog {
        margin-left: 5px;
    }
}

.filter .MuiGrid-grid-xs-12 {
    margin-top: 15px;
}