.App {
	/* text-align: center;
  padding-bottom: 2rem; */
	overflow: hidden;
	background-color: #e5e5e5;
	height: 100vh;
	overflow-y: scroll;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

/* Global css */
/* font-size */
.fs-10 {
	font-size: 10px;
}
.fs-12 {
	font-size: 12px;
}
.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}
.fs-20 {
	font-size: 20px;
}
.fw-300 {
	font-weight: 300;
}
.fw-700 {
	font-weight: 700;
}

h3 {
	color: #000;
	font-size: 24px !important;
	font-weight: 700 !important;
}
/* layout */

.flex {
	display: flex;
}
.justify-center {
	justify-content: center;
}
.flex-col {
	flex-direction: column;
}
.float-left {
	float: left;
}
.align-item-baseline {
	align-items: baseline;
}
.align-item-center {
	align-items: center;
}
.text-left {
	text-align: left;
}
.justify-end {
	justify-content: flex-end;
}
.justify-space-between {
	justify-content: space-between;
}
.justify-space-even {
	justify-content: space-evenly;
}
/* spacing */
.mg-0 {
	margin: 0;
}
.mg-right-15 {
	margin-right: 15px;
}
.mg-right-5 {
	margin-right: 5px;
}
.mg-top-10 {
	margin-top: 10px;
}
.mg-top-20 {
	margin-top: 20px;
}
.mg-left-10 {
	margin-left: 10px;
}
.mg-left-20 {
	margin-left: 40px;
}
.mg-left-30 {
	margin-left: 30px;
}
.pd-0 {
	padding: 0;
}
.pd-10 {
	padding: 10px;
}
.mg-bottom-10 {
	margin-bottom: 10px;
}
.pd-30 {
	padding-top: 30px;
}

/* color */

.text-green {
	color: #e77557;
}
.text-white {
	color: #ffffff;
}
.text-blue {
	color: #3282c4;
}
.btn-main {
	background-color: #3282c4;
}

.text-gray {
	color: #424242;
}
.bg-f2 {
	background: #f2f2f2;
}
/* genrel */
/* .dropdown-menu{
  height: 50vh;
  overflow-x: scroll;

} */
a:hover {
	text-decoration: none;
}
.box-avatar {
	vertical-align: middle;
	width: 50px;
	height: 50px;
	border-radius: 1%;
}
.public-profile {
	margin-left: 3rem;
	position: absolute;
	right: 35px;
}
@media (min-width: 600px) {
	.public-profile {
		position: absolute;
		right: 35px;
	}
}
.heading-underline {
	display: inline-block;
	border-bottom: 1px solid #efccc2;
	padding-bottom: 2px;
}
.click-bg {
	background: #f2f2f2;
}

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.pointer {
	cursor: pointer;
}

.scrollY {
	/* margin-top: 35px; */
	overflow-y: scroll;
	height: 100vh;
}

.scrollY1 {
	/* margin-top: 35px; */
	overflow-y: scroll;
	height: 75vh;
	/* width: 65vw; */
	padding-right: 20px;
}

.scrollY2 {
	/* margin-top: 35px; */
	overflow-y: scroll;
	height: 75vh;
}

.scrollY3 {
	/* margin-top: 35px; */
	overflow-y: scroll;
	height: 75vh;
	padding-right: 100px;
}

.scrollY4 {
	/* margin-top: 35px; */
	overflow-y: scroll;
	height: 58vh;
	padding-right: 100px;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
	justify-content: space-between;
	margin-left: 0;
	width: 100%;
}
/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}

/* select#filled-select-currency-native,input#filled-basic{
  padding: 10px 12px 10px;
} */

/* mobo */

@media only screen and (max-width: 767px) {
	.App {
		padding: 0.5rem;
	}
}

.accordion__button {
	color: #000;
}

/* @media (min-width: 900px) and (max-width: 992px){
  .breakpoint__medium-down {
   
     width: 85% !important;
  }
} */
.MuiGrid-root.mg-right-5.MuiGrid-grid-xs-2.MuiGrid-grid-sm-1.MuiGrid-grid-lg-1.MuiGrid-grid-xl-1 {
	margin-right: 20px;
}

/* ***** modal */

.MuiGrid-root.MuiGrid-grid-xs-9
	.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
	margin: 0 18%;
}
@media (max-width: 1250px) {
	.MuiGrid-root.MuiGrid-grid-xs-9
		.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
		margin: 0 10%;
	}
}
@media (max-width: 1050px) {
	.MuiGrid-root.MuiGrid-grid-xs-9
		.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
		margin: 0 8%;
	}
}
@media (max-width: 900px) {
	.MuiGrid-root.MuiGrid-grid-xs-9
		.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
		margin: 0 2%;
	}
}
@media (max-width: 680px) {
	.MuiGrid-root.MuiGrid-grid-xs-9
		.MuiPaper-root.MuiCard-root.MuiPaper-elevation1.MuiPaper-rounded {
		margin: 0;
	}
}

.blog,
.connection {
	width: 140%;
}
.blog {
	margin-top: 10px;
}
/* .blog .MuiGrid-grid-sm-3, .connection .MuiGrid-grid-sm-3 {
  max-width: 20%;
    flex-basis: 20%;
} */
@media (max-width: 1600px) {
	.blog,
	.connection {
		width: 130%;
	}
	/* .blog .MuiGrid-grid-sm-3, .connection .MuiGrid-grid-sm-3 {
    max-width: 25%;
    flex-basis: 25%;
  } */
}
@media (max-width: 1450px) {
	.blog,
	.connection {
		width: 115%;
	}
}
@media (max-width: 1300px) {
	.blog,
	.connection {
		width: 100%;
	}
}
@media (max-width: 602px) and (min-width: 592) {
	.blog,
	.connection {
		margin-left: 0;
	}
}

.main-mobo .new-job-card {
	width: 100%;
}
@media (max-width: 992px) {
	.main-mobo .new-job-card .container {
		max-width: 96% !important;
		width: 96% !important;
		margin: 35px 0;
		margin-left: -17px;
	}
}
@media (max-width: 600px) {
	.main-mobo .new-job-card .container {
		max-width: 100% !important;
		width: 100% !important;
		margin: 35px 0;
	}
}

@media (max-width: 500px) {
	.container__header__role.position-relative .fs-20 {
		width: 60%;
	}
	.new-job-card .container {
		padding: 5px;
	}
}
@media (max-width: 320px) {
	.container__header__role.position-relative .fs-20 {
		width: 54%;
	}
}

/* ****** profile  */
.profile-section-fixed {
	margin-top: 60px;
	height: 85vh;
}
.profile-section .profile-section-fixed {
	margin-top: 0;
	height: 802px;
}
.card-body.profile-section {
	height: 91vh;
}
.react-tabs {
	margin-top: 60px;
}
@media (min-width: 768px) {
	.react-tabs__tab-panel--selected {
		display: block !important;
	}
	.profile-section .profile-section-fixed {
		height: 819px;
	}
}
/* .profile-card-holder {
  margin-top:'3rem';
  width: 1368px;
   margin: 3rem auto;
 }
 @media (max-width: 1300px) {
  .profile-card-holder {
    margin-top:'3rem';
    max-width: 1000px;
    margin: 3rem 0;
   }
 } */
.public-profile-modal {
	width: 70%;
	margin: 20px auto;
}
.public-profile-modal .resume-btn {
	width: 100px;
}
@media (max-width: 900px) {
	.public-profile-modal {
		width: 100%;
	}
}
@media (max-width: 800px) {
	.public-profile-modal {
		width: 100%;
	}
}
.public-profile-modal .MuiCardContent-root.pd-0.scrollY {
	height: 80vh;
}
.public-profile-modal .MuiGrid-root.click-bg.px-2.MuiGrid-container {
	height: auto !important;
	max-height: 80vh;
}
.public-profile-modal
	.MuiPaper-root.MuiCard-root.pd-0.MuiPaper-elevation1.MuiPaper-rounded {
	margin-top: 35px !important;
}
.public-profile-modal .MuiGrid-root.click-bg.px-2.MuiGrid-container {
	height: auto !important;
}
.public-profile-modal .MuiGrid-grid-xs-12,
.public-profile-modal .MuiCardContent-root.pd-0.scrollY {
	margin-top: 0;
}
@media (max-width: 800px) {
	.row.profile-card-holder {
		margin-top: 1.5rem !important;
	}
}

.react-tabs__tab-list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.react-tabs__tab-list li {
	display: inline-block;
	border: 1px solid transparent;
	border-bottom: none;
	bottom: -1px;
	position: relative;
	list-style: none;
	padding: 6px 12px;
	cursor: pointer;
}

.MuiGrid-root.MuiGrid-container.MuiGrid-justify-xs-center
	.MuiGrid-root.MuiGrid-grid-xs-9 {
	max-width: 100%;
	flex-basis: 100%;
}
.MuiGrid-root.mg-top-10.MuiGrid-grid-xs-6.MuiGrid-grid-sm-4 {
	margin-left: 10px;
}

.track-tabs {
	position: relative;
	top: 10px;
	left: -70px;
}
.applicant-box {
	width: 100%;
	height: 80vh;
	overflow-y: scroll;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	margin-left: 30px;
}

@media (max-width: 1700px) {
	.track-tabs {
		left: -40px;
	}
	.applicant-box {
		/* margin-left: 30px; */
	}
}
@media (max-width: 1600px) {
	.track-tabs {
		left: -30px;
	}
	.applicant-box {
		/* margin-left: 30px; */
	}
}
@media (max-width: 1450px) {
	.track-tabs {
		left: -20px;
	}
	.applicant-box {
		/* margin-left: 30px; */
	}
}
@media (max-width: 1400px) {
	.track-tabs {
		left: -10px;
	}
	.applicant-box {
		width: 97%;
		/* margin-left: 35px; */
	}
}
@media (max-width: 1260px) {
	.track-tabs {
		left: 10px;
	}
	.applicant-box {
		width: 94%;
		/* margin-left: 35px; */
	}
}
@media (max-width: 1150px) {
	.track-tabs {
		left: 15px;
	}
	.applicant-box {
		width: 90%;
		margin-left: 50px;
	}
}
@media (max-width: 1020px) {
	.track-tabs {
		left: 25px;
	}
	.applicant-box {
		width: 88%;
		margin-left: 55px !important;
	}
}
@media (max-width: 992px) {
	.track-tabs {
		margin-top: 50px;
		left: 0;
	}
}

.active {
	background: rgb(229, 229, 229);
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
	/* color: #495057; */
	background: rgb(229, 229, 229);

	font-size: 18px;
	font-weight: bold;
	/* border-color: #dee2e6 #dee2e6 #fff; */
}

.nav-tabs {
	background: #ffffff;
	box-shadow: 0px -10px 4px rgba(0, 0, 0, 0.25);
	border-bottom: none;
}
.nav-tabs .nav-link {
	border: 1px solid transparent;
	border-bottom: none;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}

.nav-item {
	font-size: 18px;
	color: #000;
	text-decoration: none;
	/* font-weight: bold; */
}

.nav-link {
	text-decoration: none;
	color: #000;
}
.nav.nav-tabs {
	width: 100vw;
}
/* .nav.nav-tabs {
  box-shadow: 0 0 9px 1px gray;
}
.nav.nav-tabs {
  box-shadow: 0 0 9px 1px gray;
}
.nav.nav-tabs .nav-link.active {
  box-shadow: 0 8px 10px 0 gray inset;
} */

.applicant-card {
	width: 100%;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
	border-radius: 4px;
}

.applicant-skill-badge {
	padding: 4px 20px;
	width: fit-content;
	height: 31px;
	background: #ffffff;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 18px;
}

.applicant-skill-badge > span {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	color: #000000;
	margin: 0px auto;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.applicant-box {
		width: 100%;
	}
	.mx-xs-0 {
		margin-left: 0rem !important;
		margin-right: 0rem !important;
	}
	.nav-tabs {
		/* position: relative; */
		/* left: 40% ; */
		width: 102vw;
		text-align: center;
		padding-left: 25%;
	}
}

/* ***** Applicants ****** */
.create-new-top {
	position: absolute;
	right: -45px;
	top: 0;
}
.mt-5.pt-2 {
	margin-top: 2.5rem !important;
}
.clr-black {
	color: black;
}
@media (max-width: 1350px) {
	.dropdown-sort.dropdown-toggle-custom {
		width: 120px !important;
	}
}

.dd {
	width: 0px !important;
}

@media (max-width: 1350px) {
	.college-cont {
		max-width: 85%;
	}
	.open-job-college {
		width: 85%;
	}
}

@media (max-width: 992px) {
	.profile-track {
		margin-left: 120px;
	}
}
