:root {
	--input-padding-x: 0.75rem;
	--input-padding-y: 0.75rem;
}

@font-face {
	font-family: ProximaNova;
	src: url(./assets/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Regular.otf)
		format("opentype");
}
@font-face {
	font-family: ProximaNova;
	font-weight: bold;
	src: url(./assets/fonts/Mark\ Simonson\ -\ Proxima\ Nova\ Alt\ Bold.otf)
		format("opentype");
}

body {
	margin: 0;
	/* font-family: 'Roboto', sans-serif; */
	/*font-weight: 800; */
	/* font-family: 'Montserrat', sans-serif; */
	font-family: ProximaNova;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	max-height: 100vh;
	overflow-x: hidden;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: bold;
}

.gray-1 {
	background: #e5e5e5;
}
.gray-2 {
	color: #4f4f4f;
}

.gray-3 {
	color: #828282;
}

.gray-4 {
	color: #bdbdbd;
}

.gray-light {
	color: #f2f2f2;
}

.bg-gray-1 {
	background-color: #e5e5e5;
}

.bg-gray-light {
	color: #f2f2f2;
}

.btn-success {
	background: #6fcf97;
	border-radius: 4px;
	color: black;
	border-color: #6fcf97;
}

.btn-danger {
	background: #eb5757;
	border-radius: 4px;
	color: #fff;
	border-color: #eb5757;
}

.color-blue-dark {
	color: #1d3354;
}

.color-blue {
	color: #3282c4;
}

.color-blue-light {
	color: #cdedf6;
}

.color-blue-light-2 {
	color: #adcde7;
}

.color-red {
	color: #d64045;
}

.color-red-light {
	color: #e55934;
}

.color-black {
	color: #000000;
}

.color-grey {
	color: #7f7f7f;
}

.bg-blue-dark {
	background-color: #1d3354;
}

.bg-blue {
	background-color: #3282c4;
}

.bg-blue-light {
	background-color: #cdedf6;
}

.bg-blue-light-2 {
	background-color: #adcde7;
}

.bg-grey-light {
	background: #f9f9f9;
}

.bg-red {
	background-color: #d64045;
}

.bg-red-light {
	background-color: #e55934;
}

.bg-black {
	background-color: #000000;
}

.logo {
	height: 50px;
	width: 50px;
}

.logo-lg {
	height: 75px;
	width: 75px;
}

.full-page-view {
	height: 100vh;
	max-height: 100vh;
}

.fs-10 {
	font-size: 10px;
}

.fs-11 {
	font-size: 11px;
}

.fs-12 {
	font-size: 12px;
}

.fs-13 {
	font-size: 13px;
}

.fs-14 {
	font-size: 14px;
}

.fs-16 {
	font-size: 16px;
}

.fs-18 {
	font-size: 18px;
}

.fs-20 {
	font-size: 20px;
}

.fs-24 {
	font-size: 24px;
}

.fs-27 {
	font-size: 27px;
}

.fs-34 {
	font-size: 32px;
}

.w-80 {
	width: 80%;
}

.fw-100 {
	font-weight: 100;
}

.fw-200 {
	font-weight: 200;
}

.fw-300 {
	font-weight: 300;
}

.fw-400 {
	font-weight: 400;
}

.fw-500 {
	font-weight: 500;
}

.fw-600 {
	font-weight: 600;
}

.fw-700 {
	font-weight: 700;
}

.fw-800 {
	font-weight: 800;
}

.fw-900 {
	font-weight: 900;
}

.btn-nav {
	width: 202px;
	height: 36px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.btn-nav > span {
	line-height: 22px;
}

.btn-nav:active {
	background: #cdedf6;
}

.btn-main-lg {
	width: 202px;
	height: 36px;
	background: #3282c4;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	color: #fff;
	font-weight: bold;
}

.btn-sec-lg {
	width: 202px;
	height: 36px;
	background: #ffffff;
	border: 1px solid #3282c4;
	box-sizing: border-box;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	color: #3282c4;
	font-weight: bold;
}

.btn-main {
	padding: 0.35rem 1.25rem;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	background: #3282c4;
	width: 152px;
	height: 36px;
	line-height: 0px;
}

.btn-change {
	height: 36px;
	width: 100px;
}

.company-page {
	height: auto;
	background: #e5e5e5;
	/* min-height: 100vh; */
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	border-radius: 35px;
	font-size: 24px;
	line-height: 1.33;
}

.btn-circle {
	width: 30px;
	height: 30px;
	padding: 6px 0px;
	border-radius: 15px;
	text-align: center;
	font-size: 12px;
	line-height: 1.42857;
}

.small-dropdown-btn {
	width: 140px !important;
}

.cp {
	cursor: pointer;
}

.skill-chip {
	background: #ffffff;
	/* dark blue */
	padding: 7px 20px;
	border: 2px solid #1d3354;
	box-sizing: border-box;
	border-radius: 20px;
}

.link-text {
	cursor: pointer;
}

.link-text:hover {
	color: #3282c4;
}

.list-item-main:hover {
	background: #3282c4;
	color: #fff;
}

.bd-none {
	border: none;
}

.link-text_2 {
	/* color: #3282C4; */
	/* color: #6C757D; */
	font-weight: 500;
	text-decoration: none;
	cursor: pointer;
	/* color: black; */
}

.link-text_2:hover {
	color: #3282c4;
	/* font-weight: 600; */
	transition: all 0.1s;
}

.btn-main {
	background: #3282c4;
	color: #fff;
}

.btn-main-outline {
	border: 2px solid #3282c4;
	color: #3282c4;
	background: #fff;
}
.btn-main-outline:hover {
	border: 2px solid #3282c4;
	color: #fff;
	background: #3282c4;
}

.btn-main:hover {
	background: #007bff;
}

.btn-fb {
	background: #087aea;
}
.btn-fb:hover {
	background: #0e76a8;
}

.btn-linkedin {
	background: #0e76a8;
}
.btn-linkedin:hover {
	background: #087aea;
}

.btn-google {
	background: #c8483d;
}
.btn-google:hover {
	background: #d64045;
}

.bg-gradient-main {
	background: linear-gradient(to right, whitesmoke, mintcream);
}

.negative-left-margin {
	margin-left: -2rem;
}
.helper-box {
	margin-left: -200px;
	width: 250px;
}

.helper-box p {
	margin-bottom: 0.5rem;
}

.large-list ul {
	position: relative;
	margin-left: -100px;
	width: 70vh;
}
.large-list ul li::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: #3282c4;
	transform: scaleX(0);
	transform-origin: left;
	transition: 0.5s;
}
.large-list ul li:hover::before {
	transform: scaleX(1);
}
.large-list ul li {
	position: relative;
	left: 0;
	/* color:  #F8F9FA; */
	/* color:  #3282C4; */
	color: #1d3354;
	list-style: none;
	margin: 4px 0;
	border-left: 5px solid #3282c4;
	transition: 0.5s;
	cursor: pointer;
	/* background: #F8F9FA; */
	background: #f8f9fa;
}
.large-list ul li:hover {
	left: 10px;
}

.no-shadow {
	box-shadow: none;
}
.large-list ul li span {
	position: relative;
	padding: 8px;
	display: inline-block;
	z-index: 1;
	transition: 05s;
}

.large-list ul li:hover span {
	color: #fff;
}

.large-list ul li:hover i {
	color: #fff;
}

.shadow_1 {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	/* box-shadow: 0 1px 1px rgba(0,0,0,0.11), 
              0 2px 2px rgba(0,0,0,0.11), 
              0 4px 4px rgba(0,0,0,0.11), 
              0 8px 8px rgba(0,0,0,0.11), 
              0 16px 16px rgba(0,0,0,0.11), 
              0 32px 32px rgba(0,0,0,0.11); */
}
.shadow-4 {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15),
		0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
}
.shadow-5 {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
		0 16px 16px rgba(0, 0, 0, 0.12);
}
.shadow-6 {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
		0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
}

.blog-shadow-sharp {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.2),
		0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.1),
		0 16px 16px rgba(0, 0, 0, 0.05);
}

.blog-shadow-diffuse {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.12),
		0 4px 4px rgba(0, 0, 0, 0.16), 0 8px 8px rgba(0, 0, 0, 0.2);
}
.shadow_1-round {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1.5);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1.5);
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 1.5);
	border-radius: 50%;
}

.shadow_1-lightest {
	-webkit-box-shadow: 0px 0px 3px 0px rgba(206, 212, 218, 1.75);
	-moz-box-shadow: 0px 0px 3px 0px rgba(206, 212, 218, 1.75);
	box-shadow: 0px 0px 3px 0px rgba(206, 212, 218, 1.75);
}

.blog-shadow-dreamy {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.shadow-shorter {
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
		0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
		0 8px 16px rgba(0, 0, 0, 0.11);
}

.shadow-longer {
	box-shadow: 0 2px 1px rgba(0, 0, 0, 0.09), 0 4px 2px rgba(0, 0, 0, 0.09),
		0 8px 4px rgba(0, 0, 0, 0.09), 0 16px 8px rgba(0, 0, 0, 0.09),
		0 32px 16px rgba(0, 0, 0, 0.09);
}

.shadow-main {
	box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15);
}
.err-text {
	color: #e55934;
	font-weight: 500;
}

.login-heading {
	font-weight: 900 !important;
}

.click-icon-round {
	cursor: pointer;
	/* border-radius: 50%; */
}

.attribution-text {
	position: absolute;
	bottom: 0px;
	right: 30px;
}

label {
	margin-bottom: 0rem;
}

.y-scroll {
	overflow-y: scroll;
}

.navbar-main {
	padding: 0rem 2.5rem;
}

input::placeholder {
	font-size: 14px;
}

.show-password-icon {
	position: absolute;
	right: 10px;
	cursor: pointer;
	top: 18px;
}

.tooltip {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 160px;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 6px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 150%;
	left: 50%;
	margin-left: -75px;
	opacity: 0;
	transition: opacity 0.3s;
}

.clipboard {
	margin: 7px -5% 0px;
	text-align: right;
}

.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

.big-avatar {
	max-height: 150px;
	width: 150px;
	max-width: 100%;
	border-radius: 50%;
}

.small-avatar {
	height: 60px;
	width: 60px;
	max-width: 100%;
	border-radius: 50%;
}

.applicant-card:focus {
	background: blue;
}

.dropdown-toggle-custom::after {
	display: inline-block;
	width: 0;
	height: 0;
	margin-left: 0.255em;
	vertical-align: 0.255em;
	border-top: 0.3em solid;
	border-right: 0.3em solid transparent;
	border-bottom: 0;
	border-left: 0.3em solid transparent;
	content: "";
	position: absolute;
	left: 80%;
	top: 45%;
}

.dropdown-sort {
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	padding: 0.35rem 1rem;
	width: 220px;
	height: 36px;
	text-align: left;
	cursor: pointer;
}
/* 
.fixed-top{
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
} */
.dropdown-secondary {
	width: 340px;
	height: 36px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.dropdown-secondary::after {
	position: absolute;
	left: 50%;
	top: 45%;
}

.dropdown-small {
	width: 100px;
	height: 36px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.gw-input {
	background: #ffffff;
	box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	width: 340px;
	height: 36px;
	outline: none;
	border: none;
	padding: 0.35rem 1rem;
}

.gw-input-container {
	position: relative;
}

.gw-input-container > i {
	position: absolute;
	top: 10px;
	left: 65px;
}

.gw-input-container > input {
	padding-left: 40px;
}

.applicant-card {
	box-shadow: 0 1px 2.94px 0.06px black !important;
}

.gw-card {
	width: 700px;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25) !important;
	border-radius: 4px;
}

.section-card {
	width: 100%;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.editor-wrapper {
	width: 100%;
	height: auto;
	background: #f2f2f2;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.editor {
	height: 300px !important;
}

.size-md {
	width: 220px;
	height: 36px;
}

.input-secondary {
	width: 85%;
	height: 36px;
	background: #f2f2f2;
	box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.input-secondary1 {
	width: 85%;
	height: 40px;
	background: #f2f2f2;
	/* box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25); */
	border-radius: 4px;
}
.input-small {
	width: 220px;
	height: 36px;
}

.small-box {
	width: 36px;
	height: 36px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
	line-height: 2.25;
}

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

.job-btn {
	border-radius: 20px;
}

.btn-rounded {
	border-radius: 24px;
}

.btn-save {
	border: 1px solid #e55934;
	background-color: #fff;
	color: #e55934;
}
.btn-save:hover {
	border: 1px solid #e55934;
	background-color: #e55934;
	color: #fff;
}

.job-page-link {
	display: block;
	margin: auto;
	padding: 1rem 1.25rem;
	font-family: sans-serif;
	font-size: 1.5rem;
	text-decoration: none;
	color: white;
	position: relative;
	transition: all 0.3s cubic-bezier(0.2, 0, 0, 1);
	z-index: 1;
}

.job-page-link {
	text-decoration: underline;
}

.student-home {
	min-height: 100vh;
	height: 100%;
	background: #f9f9f9;
	width: 100vw;
}

.college-list-box {
	width: 100%;
	height: auto;
	background: #000000;
	border-radius: 4px;
}

.college-item-box {
	width: auto;
	height: auto;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.icon-container {
	display: inline-block;
	width: 36px;
	height: 36px;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.icon-container > img {
	vertical-align: bottom !important;
}

.disabled {
	cursor: not-allowed;
}

.dropdown-card-wrapper {
	width: 100%;
	height: 100%;
	background: #ffffff;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	border-radius: 4px;
}

.separator {
	display: flex;
	align-items: center;
	text-align: center;
}
.separator::before,
.separator::after {
	content: "";
	flex: 1;
	border-bottom: 1px solid #000;
}
.separator::before {
	margin-right: 0.25em;
}
.separator::after {
	margin-left: 0.25em;
}

.list-item:hover {
	/* font-weight: 500; */
	cursor: pointer;
	color: #3282c4;
	transition: all 0.1s;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #fff;
	opacity: 1;
}

.form-group.required .control-label:after {
	content: "*";
	color: red;
}

@media only screen and (max-width: 768px) {
	.login-heading {
		font-size: 32px !important;
	}
	.margin-more-small {
		margin: 1.75rem 0rem;
	}
	.text-right-small {
		text-align: right;
	}
	.text-left-small {
		text-align: left;
	}
	.negative-left-margin {
		margin-left: 0rem;
	}
	.helper-box {
		margin-left: 0px;
	}
}

.logo-navbar {
	height: 50px;
	width: 50px;
}

.small-nav {
	height: 45px;
	padding: 0.25rem 0.5rem;
}

.img-profile {
	height: 30px;
	width: 30px;
}

.job-card-main {
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.close-icon {
	position: absolute;
	right: 15px;
}

.active {
	background: #cdedf6;
}
.verified-icon {
	height: 20px;
	width: auto;
	position: absolute;
	margin-top: 3px;
	margin-left: 5px;
}
.add {
	cursor: pointer;
	width: 50px;
	height: 50px;
	background: #3282c4;
	border: none;
	border-radius: 50%;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.add span {
	color: #fff;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1em;
}

.add:focus {
	outline: none;
}

.ripple {
	background-position: center;
	transition: background 0.6s;
}
.ripple:hover {
	background: #47a7f5 radial-gradient(circle, transparent 1%, #47a7f5 1%)
		center/15000%;
}
.ripple:active {
	font-weight: bold;
	background-color: #6eb9f7;
	background-size: 100%;
	transition: background 0s;
}
.link-active {
	font-weight: bold;
	color: #000000;
}

.skill-badge {
	font-weight: 400;
	letter-spacing: 0.5px;
	border-radius: 40px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07), 0 2px 4px rgba(0, 0, 0, 0.07),
		0 4px 8px rgba(0, 0, 0, 0.07), 0 8px 16px rgba(0, 0, 0, 0.07),
		0 16px 32px rgba(0, 0, 0, 0.07), 0 32px 64px rgba(0, 0, 0, 0.07);
}

.gradient-1 {
	background: #9d50bb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6e48aa,
		#9d50bb
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6e48aa,
		#9d50bb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-2 {
	background: #000000; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#e74c3c,
		#000000
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#e74c3c,
		#000000
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-3 {
	background: #d1913c; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffd194,
		#d1913c
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffd194,
		#d1913c
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-4 {
	background-image: linear-gradient(
		to right top,
		#3282c4,
		#0093cd,
		#00a3d0,
		#00b3d0,
		#00c1cc
	);
}

.gradient-5 {
	background: #7b4397; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#dc2430,
		#7b4397
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#dc2430,
		#7b4397
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-6 {
	background: #ff4e50; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#f9d423,
		#ff4e50
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#f9d423,
		#ff4e50
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-7 {
	background: #136a8a; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#267871,
		#136a8a
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#267871,
		#136a8a
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-8 {
	background: #00bf8f; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#001510,
		#00bf8f
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#001510,
		#00bf8f
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-9 {
	background: #ff0084; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#33001b,
		#ff0084
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#33001b,
		#ff0084
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-10 {
	background: #ffb347; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#ffcc33,
		#ffb347
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#ffcc33,
		#ffb347
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-11 {
	background: #43cea2; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#185a9d,
		#43cea2
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#185a9d,
		#43cea2
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-12 {
	background: #d38312; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#a83279,
		#d38312
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#a83279,
		#d38312
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-13 {
	background: #73c8a9; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#373b44,
		#73c8a9
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#373b44,
		#73c8a9
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-14 {
	background: #add100; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#7b920a,
		#add100
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#7b920a,
		#add100
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-15 {
	background: #b993d6; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#8ca6db,
		#b993d6
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#8ca6db,
		#b993d6
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.gradient-tri-1 {
	background: #feac5e; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#4bc0c8,
		#c779d0,
		#feac5e
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.profile-section {
	/* height: 900px; */
	overflow-y: scroll;
}

.profile-section-fixed {
	height: 85vh;
	overflow-y: scroll;
	overflow-x: hidden;
}

.save-container {
	background: #f7f7f7;
	margin-left: 10%;
	padding: 5%;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	text-align: center;
	line-height: 2.25rem;
}

.save-container:hover {
	cursor: pointer;
	/* background: #F7F7F7;
  margin-left: 70%;
  padding: 5%;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 1.75rem; */
}
.dashboard-container {
	width: 100vw;
}

.generate-btn {
	outline: none;
	border: none;
	cursor: pointer;
	display: block;
	position: relative;
	background: #9d50bb; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6e48aa,
		#9d50bb
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6e48aa,
		#9d50bb
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	font-size: 16px;
	font-weight: 300px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 2px;
	padding: 15px 20px;
	margin: 0 auto;
	border-radius: 20px;
	box-shadow: 0px 6px #9d50bb;
}

.generate-btn:hover {
	box-shadow: 0px 4px #9d50bb;
	top: 2px;
}

.generate-btn:active {
	box-shadow: none;
}

.edit-icon {
	cursor: pointer;
}

.border-left-primary {
	border-left: 0.25rem solid #cdedf6 !important;
}

.view-btn-pos {
	position: absolute;
	left: 73%;
	bottom: 10%;
}

.links ul {
	text-decoration: none;
	list-style-type: none;
	list-style: none;
	margin: 7px 0px;
}

.skill-remove {
	cursor: pointer;
}

.sidebar {
	position: fixed;
	color: #fff;
	height: 100vh;
	width: 220px;
	margin-top: 0 !important;
	border-right: 1px solid rgb(218, 218, 218);
	z-index: 10001;
}

.sidebar .nav-link:active,
.sidebar .nav-link:focus {
	color: #000;
	font-weight: bold;
}

.supporting-image {
	height: 80px;
	width: inherit;
}
.sidebar-link {
	color: black;
}
@media (max-width: 1150px) {
	.sidebar {
		width: 18% !important;
	}
	.sidebar .nav-item,
	.sidebar .nav-link,
	.sidebar .sidebar-link,
	.sidebar-link span {
		font-size: 15px !important;
	}
	.sidebar .btn-main {
		margin-left: 0 !important;
	}
}

a.fw-500.link-text:hover {
	color: #3282c4;
}

.profile-edit-icon:hover {
	cursor: pointer;
}

.update-btn {
	position: absolute;
	bottom: 20px;
}

.profile-field {
	font-size: 12px;
	padding: 0.575rem 0.75rem;
}

.profile-pic {
	height: auto;
	width: auto;
	border-radius: 50%;
}

.profile-field::placeholder {
	font-size: 12px;
}
.nav-item {
	margin-left: -7px;
	font-size: 14px;
}

.nav-item:hover {
	background: #fff;
	color: #3282c4;
	transition: all 0.5s;
}
.progress {
	width: 150px;
	height: 150px;
	line-height: 150px;
	background: none;
	margin: 0 auto;
	box-shadow: none;
	position: relative;
}
.progress:after {
	content: "";
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 2px solid #fff;
	position: absolute;
	top: 0;
	left: 0;
}
.progress > span {
	width: 50%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	z-index: 1;
}
.progress .progress-left {
	left: 0;
}
.progress .progress-bar {
	width: 100%;
	height: 100%;
	background: none;
	border-width: 2px;
	border-style: solid;
	position: absolute;
	top: 0;
}
.progress .progress-left .progress-bar {
	left: 100%;
	border-top-right-radius: 80px;
	border-bottom-right-radius: 80px;
	border-left: 0;
	-webkit-transform-origin: center left;
	transform-origin: center left;
}
.progress .progress-right {
	right: 0;
}
.progress .progress-right .progress-bar {
	left: -100%;
	border-top-left-radius: 80px;
	border-bottom-left-radius: 80px;
	border-right: 0;
	-webkit-transform-origin: center right;
	transform-origin: center right;
	animation: loading-1 1.8s linear forwards;
}
.progress .progress-value {
	width: 85%;
	height: 85%;
	border-radius: 50%;
	border: 2px solid #ebebeb;
	font-size: 32px;
	line-height: 125px;
	text-align: center;
	position: absolute;
	top: 7.5%;
	left: 7.5%;
}
.progress.blue .progress-bar {
	border-color: #049dff;
}
.progress.blue .progress-value {
	color: #049dff;
}
.progress.blue .progress-left .progress-bar {
	animation: loading-2 1.5s linear forwards 1.8s;
}
.progress.yellow .progress-bar {
	border-color: #fdba04;
}
.progress.yellow .progress-value {
	color: #fdba04;
}
.progress.yellow .progress-left .progress-bar {
	animation: loading-3 1s linear forwards 1.8s;
}
.progress.pink .progress-bar {
	border-color: #ed687c;
}
.progress.pink .progress-value {
	color: #ed687c;
}
.progress.pink .progress-left .progress-bar {
	animation: loading-4 0.4s linear forwards 1.8s;
}
.progress.green .progress-bar {
	border-color: #1abc9c;
}
.progress.green .progress-value {
	color: #1abc9c;
}
.progress.green .progress-left .progress-bar {
	animation: loading-5 1.2s linear forwards 1.8s;
}
@keyframes loading-1 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(180deg);
		transform: rotate(180deg);
	}
}
@keyframes loading-2 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(144deg);
		transform: rotate(144deg);
	}
}
@keyframes loading-3 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}
}
@keyframes loading-4 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(36deg);
		transform: rotate(36deg);
	}
}
@keyframes loading-5 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(126deg);
		transform: rotate(126deg);
	}
}
@media only screen and (max-width: 990px) {
	.progress {
		margin-bottom: 20px;
	}
}

.carousel {
	width: 100%;
}

.slide-box {
	display: flex;
	justify-content: space-between;
}

@media (min-width: 576px) and (max-width: 767.98px) {
	.slide-box img {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.slide-box img {
		-ms-flex: 0 0 33.3333%;
		flex: 0 0 33.3333%;
		max-width: 33.3333%;
	}
}

@media (min-width: 992px) {
	.slide-box img {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}
}

.carousel-caption {
	background-color: rgba(0, 0, 0, 0.5);
	padding: 20px;
	border-radius: 0.5rem;
}

.accordion__item:active {
	font-size: bold;
	color: green;
}
.MuiGrid-grid-xs-12 {
	margin-top: 35px;
}

.applie {
	margin-top: 87px !important;
	margin-bottom: 100px;
}

.applie1 {
	margin-top: 87px !important;
	/* margin-bottom: 100px; */
}

/* @media (min-width: 768px){
.container {
    max-width: 80%;
}
} */

@media (min-width: 600px) {
	.MuiGrid-grid-sm-11 {
		flex-grow: 0;
		/* max-width: 91.666667%; */
		/* flex-basis: 91.666667%; */
	}
}
.filter-modal {
	margin: 35px 350px;
	height: 80vh;
}
@media (max-width: 1200px) {
	.filter-modal {
		margin: 35px 150px;
		height: 80vh;
	}
}
@media (max-width: 850px) {
	.filter-modal {
		margin: 35px 100px;
		height: 80vh;
	}
}
@media (max-width: 800px) {
	.filter-modal {
		margin: 35px 0;
		height: 80vh;
	}
}
@media (max-width: 600px) {
	.filter-modal-height {
		height: 85vh;
	}
}
.job-pane {
	background: #fff;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	height: 60px;
	padding: 35px 0px;
	top: 45px;
	left: 17%;
}

.profile-card-holder {
	width: 86%;
	height: 93vh;
	overflow: hidden;
	margin: auto;
}
@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	.job-pane {
		left: 0% !important;
	}
	.profile-card-holder {
		width: 100%;
		height: 91vh;
	}
}

.textcenter {
	margin-left: 95px;
}
@media only screen and (max-width: 1300px) {
	.textcenter {
		margin-left: 65px;
	}
}
@media only screen and (max-width: 1200px) {
	.textcenter {
		margin-left: 20px;
	}
}
@media only screen and (max-width: 1100px) {
	.textcenter {
		margin-left: 0px;
	}
}
.textcenterright {
	margin-right: 95px;
}
@media only screen and (max-width: 1300px) {
	.textcenterright {
		margin-right: 65px;
	}
}
@media only screen and (max-width: 1200px) {
	.textcenterright {
		margin-right: 20px;
	}
}
@media only screen and (max-width: 1100px) {
	.textcenterright {
		margin-right: 0px;
	}
}

@media only screen and (max-width: 1049px) and (min-width: 992px)  {
	.comapnyconc{
		margin-left: 52px;
	}
}
@media only screen and (max-width: 1099px) and (min-width: 1050px)  {
	.comapnyconc{
		margin-left: 35px;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 1100px)  {
	.comapnyconc{
		margin-left: 30px;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1200px)  {
	.comapnyconc{
		margin-left: 17px;
	}
}
@media only screen and (max-width: 1049px) and (min-width: 992px)  {
	.comapnyconcinvite{
		margin-left: -17px;
	}
}
@media only screen and (max-width: 1099px) and (min-width: 1050px)  {
	.comapnyconcinvite{
		margin-left: -8px;
	}
}
@media only screen and (max-width: 1199px) and (min-width: 1100px)  {
	.comapnyconcinvite{
		margin-left: -17px;
	}
}
@media only screen and (max-width: 1300px) and (min-width: 1200px)  {
	.comapnyconcinvite{
		margin-left: -17px;
	}
}
@media only screen and (max-width: 1349px) and (min-width: 1200px)  {
	.track-tabs{
		margin-left: -55px;
	}
}
@media only screen and (max-width: 1400px) and (min-width: 1350px)  {
	.track-tabs{
		margin-left: -119px;
	}
}



/* NEW CODE */

.hover:hover {
	cursor: pointer;
}

.text-bold {
	font-weight: bold;
}